header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}



#navLink-box {
    text-align: center;
}
.navLink {
    /* display: inline; */
    margin-left: 40px;
}